step_functions/geotrellis_summary_update.json
{
  "StartAt": "Submit Job",
  "States": {
    "Submit Job": {
      "Type": "Task",
      "Resource": "${lambda_submit_job_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Job Submitted?"
    },
    "Job Submitted?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "Wait For Job Termination"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Job Submission Failed"
        }
      ],
      "Default": "Wait For Job Termination"
    },
    "Wait For Job Termination": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Upload GeoTrellis Results To Dataset"
    },
    "Upload GeoTrellis Results To Dataset": {
      "Type": "Task",
      "Resource": "${lambda_upload_results_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Job Terminated?"
    },
    "Job Terminated?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "PENDING",
          "Next": "Wait For Job Termination"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "GeoTrellis Job Failure"
        },
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "Wait For Dataset Upload"
        }
      ],
      "Default": "Wait For Dataset Upload"
    },
    "Wait For Dataset Upload": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "Check Datasets Saved"
    },
    "Check Datasets Saved": {
      "Type": "Task",
      "Resource": "${lambda_check_dataset_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Datasets Saved?"
    },
    "Datasets Saved?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "Success"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Dataset Save Failed"
        },
        {
          "Variable": "$.Done",
          "StringEquals": "PENDING",
          "Next": "Wait For Dataset Upload"
        }
      ],
      "Default": "Wait For Dataset Upload"
    },
    "Job Submission Failed": {
      "Type": "Fail",
      "Cause": "GeoTrellis EMR job submission failed.",
      "Error": "JobSubmissionFailure"
    },
    "GeoTrellis Job Failure": {
      "Type": "Fail",
      "Cause": "GeoTrellis EMR job execution failed.",
      "Error": "GeoTrellisJobFailure"
    },
    "Dataset Save Failed": {
      "Type": "Fail",
      "Cause": "Failed to save results in dataset.",
      "Error": "DatasetSaveFailed"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}