step_functions/new_user_aoi.json
{
  "StartAt": "Check For New AOI",
  "States": {
    "Check For New AOI": {
      "Type": "Task",
      "Resource": "${lambda_check_new_aoi_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Are There New AOI?"
    },
    "Are There New AOI?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "NEW_AREAS_FOUND",
          "Next": "Run GeoTrellis Summary Update"
        },
        {
          "Variable": "$.status",
          "StringEquals": "NO_NEW_AREAS_FOUND",
          "Next": "No New AOI Found"
        },
        {
          "Variable": "$.status",
          "StringEquals": "ERROR",
          "Next": "Error Checking New AOI"
        }
      ]
    },
    "Run GeoTrellis Summary Update": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "ResultPath": "$",
      "Parameters": {
        "StateMachineArn": "${state_machine_arn}",
        "Input": {
           "Input.$": "$"
        }
      },
      "Next": "Update New Area Statuses"
    },
    "Update New Area Statuses": {
      "Type": "Task",
      "Resource": "${lambda_update_new_aoi_status_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Successfully Updated"
    },
    "Successfully Updated": {
      "Type": "Succeed"
    },
    "No New AOI Found": {
      "Type": "Succeed"
    },
    "Error Checking New AOI": {
      "Type": "Fail",
      "Cause": "Error checking new aoi.",
      "Error": "Error Checking New AOI"
    }
  }
}