step_functions/new_glad_alerts.json
{
  "StartAt": "Check For New Glad Alerts",
  "States": {
    "Check For New Glad Alerts": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:563860007740:function:datapump-check_new_glad_alerts-feature-update_geotrellis_jar",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Are There New Glad Alerts?"
    },
    "Are There New Glad Alerts?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "NEW_ALERTS_FOUND",
          "Next": "Run GeoTrellis Summary Updates"
        },
        {
          "Variable": "$.status",
          "StringEquals": "NO_NEW_ALERTS_FOUND",
          "Next": "No New Alerts Found"
        }
      ]
    },
    "Run GeoTrellis Summary Updates": {
      "Type": "Parallel",
      "ResultPath": "$",
      "Branches": [
        {
          "StartAt": "Run Geotrellis Summary Update Geostore",
          "States": {
            "Run Geotrellis Summary Update Geostore": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.geostore",
              "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:563860007740:stateMachine:datapump-geotrellis_dataset-feature-update_geotrellis_jar",
                "Input": {
                   "Input.$": "$.geostore"
                }
              }
            }
          }
        },
                {
          "StartAt": "Run Geotrellis Summary Update GADM",
          "States": {
            "Run Geotrellis Summary Update GADM": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.gadm",
              "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:563860007740:stateMachine:datapump-geotrellis_dataset-feature-update_geotrellis_jar",
                "Input": {
                   "Input.$": "$.gadm"
                }
              }
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update WDPA",
          "States": {
            "Run Geotrellis Summary Update WDPA": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.wpda",
              "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:563860007740:stateMachine:datapump-geotrellis_dataset-feature-update_geotrellis_jar",
                "Input": {
                   "Input.$": "$.wpda"
                }
              }
            }
          }
        }
      ],
      "Next": "Successfully Updated"
    },
    "Successfully Updated": {
      "Type": "Succeed"
    },
    "No New Alerts Found": {
      "Type": "Succeed"
    }
  }
}