step_functions/new_glad_alerts.json
{
  "StartAt": "Check For New Glad Alerts",
  "States": {
    "Check For New Glad Alerts": {
      "Type": "Task",
      "Resource": "${lambda_check_new_glad_alerts_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Are There New Glad Alerts?"
    },
    "Are There New Glad Alerts?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "NEW_ALERTS_FOUND",
          "Next": "Run GeoTrellis Summary Updates"
        },
        {
          "Variable": "$.status",
          "StringEquals": "NO_NEW_ALERTS_FOUND",
          "Next": "No New Alerts Found"
        }
      ]
    },
    "Run GeoTrellis Summary Updates": {
      "Type": "Parallel",
      "ResultPath": "$",
      "Branches": [
        {
          "StartAt": "Run Geotrellis Summary Update Geostore",
          "States": {
            "Run Geotrellis Summary Update Geostore": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.geostore",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.geostore"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
                "Next": "Stop Gracefully Geostore"
              }]
            },
            "Stop Gracefully Geostore": {
              "Type": "Succeed"
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update GADM",
          "States": {
            "Run Geotrellis Summary Update GADM": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.gadm",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.gadm"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
                "Next": "Stop Gracefully GADM"
              }]
            },
            "Stop Gracefully GADM": {
              "Type": "Succeed"
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update WDPA",
          "States": {
            "Run Geotrellis Summary Update WDPA": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.wdpa",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.wdpa"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
                "Next": "Stop Gracefully WDPA"
              }]
            },
            "Stop Gracefully WDPA": {
              "Type": "Succeed"
            }
          }
        }
      ],
      "Next": "Successfully Updated"
    },
    "Successfully Updated": {
      "Type": "Succeed"
    },
    "No New Alerts Found": {
      "Type": "Succeed"
    }
  }
}