step_functions/new_fire_alerts.json
{
  "StartAt": "Get Latest Fire Alerts",
  "States": {
    "Get Latest Fire Alerts": {
      "Type": "Task",
      "Resource": "${lambda_get_latest_fire_alerts_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Run GeoTrellis Summary Updates"
    },
    "Run GeoTrellis Summary Updates": {
      "Type": "Parallel",
      "ResultPath": "$",
      "Branches": [
        {
          "StartAt": "Run Geotrellis Summary Update GADM - VIIRS",
          "States": {
            "Run Geotrellis Summary Update GADM - VIIRS": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.viirs.gadm",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.viirs.gadm"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
                "Next": "Stop Gracefully GADM VIIRS"
              }]
            },
            "Stop Gracefully GADM VIIRS": {
              "Type": "Succeed"
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update GADM - MODIS",
          "States": {
            "Run Geotrellis Summary Update GADM - MODIS": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.modis.gadm",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.modis.gadm"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
                "Next": "Stop Gracefully GADM MODIS"
              }]
            },
            "Stop Gracefully GADM MODIS": {
              "Type": "Succeed"
            }
          }
        }
      ],
      "Next": "Successfully Updated"
    },
    "Successfully Updated": {
      "Type": "Succeed"
    }
  }
}