step_functions/new_fire_alerts.json
{
  "StartAt": "Get Latest Fire Alerts",
  "States": {
    "Get Latest Fire Alerts": {
      "Type": "Task",
      "Resource": "${lambda_get_latest_fire_alerts_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Run GeoTrellis Summary Updates"
    },
    "Run GeoTrellis Summary Updates": {
      "Type": "Parallel",
      "ResultPath": "$",
      "Branches": [
        {
          "StartAt": "Run Geotrellis Summary Update Geostore - MODIS",
          "States": {
            "Run Geotrellis Summary Update Geostore - MODIS": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.modis.geostore",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.modis.geostore"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
<<<<<<< Updated upstream
                "Next": "Stop Gracefully Geostore"
              }]
            },
            "Stop Gracefully Geostore": {
=======
                "Next": "Stop Gracefully Geostore MODIS"
              }]
            },
            "Stop Gracefully Geostore MODIS": {
>>>>>>> Stashed changes
              "Type": "Succeed"
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update GADM - MODIS",
          "States": {
            "Run Geotrellis Summary Update GADM - MODIS": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.modis.gadm",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.modis.gadm"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
<<<<<<< Updated upstream
                "Next": "Stop Gracefully GADM"
              }]
            },
            "Stop Gracefully GADM": {
=======
                "Next": "Stop Gracefully GADM MODIS"
              }]
            },
            "Stop Gracefully GADM MODIS": {
>>>>>>> Stashed changes
              "Type": "Succeed"
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update WDPA - MODIS",
          "States": {
            "Run Geotrellis Summary Update WDPA - MODIS": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.modis.wdpa",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.modis.wdpa"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
<<<<<<< Updated upstream
                "Next": "Stop Gracefully WDPA"
              }]
            },
            "Stop Gracefully WDPA": {
=======
                "Next": "Stop Gracefully WDPA MODIS"
              }]
            },
            "Stop Gracefully WDPA MODIS": {
>>>>>>> Stashed changes
              "Type": "Succeed"
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update Geostore - VIIRS",
          "States": {
            "Run Geotrellis Summary Update Geostore - VIIRS": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.viirs.geostore",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.viirs.geostore"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
<<<<<<< Updated upstream
                "Next": "Stop Gracefully Geostore"
              }]
            },
            "Stop Gracefully Geostore": {
=======
                "Next": "Stop Gracefully Geostore VIIRS"
              }]
            },
            "Stop Gracefully Geostore VIIRS": {
>>>>>>> Stashed changes
              "Type": "Succeed"
            }
          }
        },
        {
          "StartAt": "Run Geotrellis Summary Update GADM - VIIRS",
          "States": {
            "Run Geotrellis Summary Update GADM - VIIRS": {
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.viirs.gadm",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.viirs.gadm"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
<<<<<<< Updated upstream
                "Next": "Stop Gracefully GADM"
              }]
            },
            "Stop Gracefully GADM": {
=======
                "Next": "Stop Gracefully GADM VIIRS"
              }]
            },
            "Stop Gracefully GADM VIIRS": {
>>>>>>> Stashed changes
              "Type": "Succeed"
            }
          }
        },
        {
<<<<<<< Updated upstream
          "StartAt": "Run Geotrellis Summary Update WDPA - MODIS",
          "States": {
            "Run Geotrellis Summary Update WDPA - MODIS": {
=======
          "StartAt": "Run Geotrellis Summary Update WDPA - VIIRS",
          "States": {
            "Run Geotrellis Summary Update WDPA - VIIRS": {
>>>>>>> Stashed changes
              "Type": "Task",
              "End": true,
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "ResultPath": "$.viirs.wdpa",
              "Parameters": {
                "StateMachineArn": "${state_machine_arn}",
                "Input": {
                   "Input.$": "$.viirs.wdpa"
                }
              },
              "Catch": [{
                "ErrorEquals": [ "States.TaskFailed" ],
                "ResultPath": "$.error",
<<<<<<< Updated upstream
                "Next": "Stop Gracefully WDPA"
              }]
            },
            "Stop Gracefully WDPA": {
=======
                "Next": "Stop Gracefully WDPA VIIRS"
              }]
            },
            "Stop Gracefully WDPA VIIRS": {
>>>>>>> Stashed changes
              "Type": "Succeed"
            }
          }
        }
      ],
      "Next": "Successfully Updated"
    },
    "Successfully Updated": {
      "Type": "Succeed"
<<<<<<< Updated upstream
    },
    "No New Alerts Found": {
      "Type": "Succeed"
=======
>>>>>>> Stashed changes
    }
  }
}