step_functions/summarize_new_areas.json
{
  "StartAt": "Check For New Areas",
  "States": {
    "Check For New Areas": {
      "Type": "Task",
      "Resource": "${lambda_check_new_areas_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Are There New Areas?"
    },
    "Are There New Areas?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "NEW_AREAS_FOUND",
          "Next": "Run GeoTrellis Summary Update"
        },
        {
          "Variable": "$.status",
          "StringEquals": "NO_NEW_AREAS_FOUND",
          "Next": "No New Areas Found"
        },
        {
          "Variable": "$.status",
          "StringEquals": "ERROR",
          "Next": "Error Checking New Areas"
        }
      ]
    },
    "Run GeoTrellis Summary Update": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "ResultPath": "$",
      "Parameters": {
        "StateMachineArn": "${state_machine_arn}",
        "Input": {
           "Input.$": "$"
        }
      },
      "Next": "Update New Area Statuses"
    },
    "Update New Area Statuses": {
      "Type": "Task",
      "Resource": "${lambda_update_new_area_status_arn}",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Statuses Updated?"
    },
    "Statuses Updated?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "Successfully Updated"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Error Updating New Areas Statuses"
        }
      ]
    },
    "Successfully Updated": {
      "Type": "Succeed"
    },
    "No New Areas Found": {
      "Type": "Succeed"
    },
    "Error Checking New Areas": {
      "Type": "Fail",
      "Cause": "Error checking new areas.",
      "Error": "ErrorCheckingNewAreas"
    },
    "Error Updating New Areas Statuses": {
      "Type": "Fail",
      "Cause": "Error Updating New Areas Statuses.",
      "Error": "ErrorUpdatingNewAreasStatuses"
    }
  }
}